.menubar{
    height: 50px !important;
    li{
        height: 50px !important;
    }
}

.exp-title{
    font-size: 16px;
    font-weight: 500;
    padding:8px 0px 7px 0px
}

.mat-standard-chip{
    padding : 16px !important;
    font-size: 20px !important;
    background:black !important;
}