    <div id="preloader">
            <div id="preloader_spinner">
                <div class="spinner"></div>
            </div>
        </div>
       
        <!--================ Frist hader Area =================-->
        <header class="header_area" *ngIf='!hideHeader'>
            <div class="container">
                <nav class="navbar navbar-default" >

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="menubar nav navbar-nav navbar-right" >
                            <li class="active" fxLayoutAlign='center center'><a href="#about">ABOUT ME </a></li>
                            <li fxLayoutAlign='center center'><a href="#skill" >Skill</a></li>
                            <li fxLayoutAlign='center center'><a href="#education">Experience</a></li>
                            <li fxLayoutAlign='center center'><a href="#portfolio" >PORTFOLIO</a></li>
                            <li fxLayoutAlign='center center'><a href="#news" >Certifications</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
        </header>
        <!--================End Footer Area =================-->
        
        <!--================Total container Area =================-->
        <div class="container main_container">
            <div class="content_inner_bg row m0">
                <section class="about_person_area pad" id="about">
                    <div class="row" fxLayoutAlign='center center' fxLayout.lt-md='column'>
                        <div fxFlex='60' fxFlex.lt-md='100' fxFlexOrder.lt-md="2" fxLayoutGap.gt-md='20px'>
                            <div class="row person_details" >
                                <h3 class='name'>Hi I'm <span>John Willson,</span></h3>
                                <h4>Software Engineer</h4>
                                <p class='personal-para'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I currently work at Agilysys as a Software Engineer. I have an In-depth understanding of web technologies. With a love towards Data and mathematical concept,
                                    searching for a place to prove myself in Data Science. Good understanding of Supervised and Unsupervised Machine Learning models
                                    and also ensemble techniques. Exposure to Exploratory Data Analysis (EDA), Statistical analysis and Statistical testing (Hypothesis
                                    testing)</p>
                                    <div fxLayoutAlign.lt-md='center center'  fxLayout='row'  fxLayoutAlign='start center' fxLayoutGap='30px' style='margin-bottom:20px'>
                                            <span fxLayoutAlign='center center'><i style='font-size:22px' class="fas fa-envelope"></i> &nbsp;&nbsp;&nbsp;johnjagu25@gmail.com</span>  
                                            <span fxLayoutAlign='center center'><i style='font-size:22px' class="fas fa-map-marker"></i> &nbsp;&nbsp;&nbsp;Chennai</span> 
                                    </div>
                            </div>
                            <div fxLayout='row' fxLayout.lt-md='column' fxLayoutGap.lt-md='40px' fxHide fxHide.lt-md='false'>
                                    <ul class="social_icon" fxLayoutAlign='center center' fxLayoutGap='10px'>
    
                                        <li><a target='_blank' href="https://www.kaggle.com/johnwill225/kernels"><i class="fab fa-kickstarter-k"></i></a></li>
                                        <li><a target='_blank' href="https://www.linkedin.com/in/johnwillson25/"><i class="fab fa-linkedin"></i></a></li>
                                      <li><a target='_blank' href="https://github.com/johnjagu25"> <i class="fab fa-github"></i></a></li>
                                        <li><a target='_blank' href="https://stackoverflow.com/users/7181841/john-willson"><i class="fab fa-stack-overflow"></i></a></li>
                                        
                                   
                                  
                                    </ul>
                                    <div fxLayoutAlign='center center'>
                                            <button mat-raised-button color="primary" fxFlex='50' ><a download href="assets/resume/John Resume.pdf"><span style='color:white'>Download Resume</span></a></button>
                                    </div>
                                  
                                </div>
                               
                          
                        </div>
                        <div fxFlex='40' fxFlex.lt-md='100' fxLayout='column' fxFlexOrder.lt-md="1" fxLayoutAlign='center center' fxLayoutGap='10px'>
                            <div class="person_img">
                                <img src="assets/img/member/member-1.jpg" alt="">
                               
                            </div>
                            <div fxFlex='40' fxHide.lt-md='true'>
                                    <ul class="social_icon" fxLayoutAlign='center center'>
    
                                        <li><a target='_blank' href="https://www.kaggle.com/johnwill225/kernels"><i class="fab fa-kickstarter-k"></i></a></li>
                                        <li><a target='_blank' href="https://www.linkedin.com/in/johnwillson25/"><i class="fab fa-linkedin"></i></a></li>
                                          <li><a target='_blank' href="https://github.com/johnjagu25"> <i class="fab fa-github"></i></a></li>
                                        <li><a target='_blank' href="https://stackoverflow.com/users/7181841/john-willson"><i class="fab fa-stack-overflow"></i></a></li>
                                   
                                    </ul>
                                </div>
                                <div style='padding:10px'>
                                        <button fxHide.lt-md='true' mat-raised-button color="primary" ><a download href="assets/resume/John Resume.pdf"><span style='color:white'>Download Resume</span></a></button>
                                </div>
                               
                        </div>
              
                    </div>
                   
                </section>
                <section class="myskill_area pad" id="skill">
                        <div class="main_title" fxLayoutAlign='center center'>
                                <mat-chip-list >
                            <mat-chip color="primary" selected>SKILL</mat-chip>
                                </mat-chip-list>
                        </div>
                    <div class="row">
                        <div class="col-md-6 wow fadeInUp animated">
                            <div class="skill_item_inner">
                                <div class="single_skill" *ngFor='let skill of skills.slice(0,4)'>
                                    <h4>{{skill.skill}}</h4>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar"  aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress_parcent"><span class="counter">{{skill.score}}</span>%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow fadeInUp animated">
                            <div class="skill_item_inner">
                                <div class="single_skill" *ngFor='let skill of skills.slice(4,8)'>
                                    <h4>{{skill.skill}}</h4>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress_parcent"><span class="counter">{{skill.score}}</span>%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="education_area pad" id="education">
                    <div class="main_title" fxLayoutAlign='center center'>
                            <mat-chip-list >
                        <mat-chip color="primary" selected>EXPERIENCE</mat-chip>
                            </mat-chip-list>
                    </div>
                    <!-- <mat-chip-list aria-label="Fish selection">
                        <mat-chip>One fish</mat-chip>
                        <mat-chip>Two fish</mat-chip>
                        <mat-chip color="primary" selected>Experience</mat-chip>
                      </mat-chip-list> -->
                    <div class="education_inner_area">
                    
                    <mat-card class="education_item wow fadeInUp animated" data-line=" " *ngFor='let exp of experience'>
                    <i class="pinned fas fa-thumbtack"></i>
                        <mat-card-content >
                            <!-- <div > -->
                                <h6>{{exp.year}}</h6>
                                <div class='exp-title'>{{exp.title}}</div>
                                <h5>{{exp.shortDesc}}</h5>
                                <p>{{exp.description}}</p>
                            <!-- </div> -->
                        </mat-card-content>
                    </mat-card>

                     
                    </div>
                </section>
                <section class="portfolio_area pad" id="portfolio">
                        <div class="main_title" fxLayoutAlign='center center'>
                                <mat-chip-list >
                            <mat-chip color="primary" selected>PORTFOLIO</mat-chip>
                                </mat-chip-list>
                        </div>
                    <div class="porfolio_menu">
                        <ul class="causes_filter">
                            <li class="active" data-filter="*"><a href="">All</a></li>
                            <li data-filter=".company"><a href="">Company</a></li>
                            <li data-filter=".ml" fxHide.lt-md='true'><a href="">Machine Learning</a></li>
                            <li data-filter=".ml" fxHide fxHide.lt-md='false'><a href="">ML</a></li>
                            <li data-filter=".personal"><a href="">Personal</a></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="portfolio_list_inner">
                            <div class="col-md-4 {{project.category}}" *ngFor='let project of projects'>
                                <div class="portfolio_item">
                                    <div class="portfolio_img">
                                        <img src="assets/img/projects/{{project.category}}-{{project.img}}.png" alt="">
                                    </div>
                                    <div class="portfolio_title">
                                        <a [href]="project.link && project.link.indexOf('http') !== -1 ? project.link : 'assets/projects/' + project.link" target='_blank'><h4>{{project.title}}</h4></a>
                                        <h5>{{project.desc}}</h5>
                                    </div>
                                </div>
                            </div>
                         </div>
                      
                    </div>
                </section>
                <section class="news_area pad" id="news">
                        <div class="main_title" fxLayoutAlign='center center'>
                                <mat-chip-list >
                            <mat-chip color="primary" selected>CERTIFICATION</mat-chip>
                                </mat-chip-list>
                        </div>
                    <div class="news_inner_area">
                        <div class="row">
                            <div class="portfolio_list_inner">
                                <div class="col-md-4" *ngFor='let certificate of certification;let i=index'>
                                    <div class="portfolio_item">
                                        <div class="portfolio_img">
                                            <img src="assets/img/certifications/certificate-{{i+1}}.png" alt="">
                                        </div>
                                        <div class="portfolio_title">
                                            <a target="_blank" href="{{certificate.link}}"><h4>{{certificate.title}}</h4></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section fxLayoutAlign='center center' style='padding:20px;color:white;background:black'>
                <span>John Willson &nbsp;<span><i class="fas fa-copyright"></i></span>&nbsp;2020 </span>
                </section>
            </div>
        </div>
  